/** @format */

.container {
	width: 100%;
	min-width: 460px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 10px 12px 6px 12px;
	font-family: var(--ui-font-fractur);
	font-size: 22px;
	color: var(--ui-clr-text-gold);
	line-height: -4px;
}

button {
	background: none;
	border: none;

	outline: none;
	margin: 0px 0px 4px 0px;

	color: var(--ui-clr-text-gold);
	cursor: pointer;
}

button:hover {
	color: var(--ui-clr-text);
}
