/** @format */

.background {
	padding: 12px;

	width: 100%;
	height: 100%;
	background: var(--ui-clr-element-background-paper);
	background: center / cover no-repeat
		url(../../../assets/images/paper-pixel.png);

	font-size: var(--ui-font-handwritten-size);
	font-weight: 600;
	font-family: var(--ui-font-handwritten);
	letter-spacing: 2px;
	line-height: 32px;
}

.char {
	color: var(--ui-clr-text-dark-shade);
}

.charActive {
	color: var(--ui-clr-text-gold);
}
