/** @format */
.board {
	height: 100vh;
	width: 100vw;

	background: red;

	padding: 60px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
		'lettertray lettertray'
		'letterpress leaflet';

	box-sizing: border-box;
}
