/** @format */

.die {
	font-family: var(--ui-font-fractur);
	font-size: 16px;
	color: var(--ui-clr-text);

	width: 16px;
	height: 16px;
	margin: 2px 2px 2px 2px;

	background: var(--ui-clr-text-dark-shade);

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0px var(--ui-offset-button-shadow) 1px
			var(--ui-clr-text-dark-shade),
		0px calc(var(--ui-offset-button-shadow) * -1) 1px
			var(--ui-clr-text-dark-shade),
		var(--ui-offset-button-shadow) 0px 1px var(--ui-clr-text-dark-shade),
		calc(var(--ui-offset-button-shadow) * -1) 0px 1px
			var(--ui-clr-text-dark-shade);

	border: 2px solid var(--ui-clr-text-dark);
}

.empty {
	transition: 0.2s ease;
}

.filled {
}
