/** @format */

.container {
	width: 100%;
	padding: 6px;

	align-self: flex-start;

	background: var(--ui-clr-element-background);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
