/** @format */

.setting {
	margin: 8px 0px;
	padding: 14px;

	max-width: 560px;

	background: var(--ui-clr-button-background);
	border: 2px solid var(--ui-clr-button-border);

	color: var(--ui-clr-button-text);

	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 16px;

	box-shadow: 0px var(--ui-offset-button-shadow) 1px
			var(--ui-clr-button-shadow),
		0px calc(var(--ui-offset-button-shadow) * -1) 1px
			var(--ui-clr-button-shadow),
		var(--ui-offset-button-shadow) 0px 1px var(--ui-clr-button-shadow),
		calc(var(--ui-offset-button-shadow) * -1) 0px 1px
			var(--ui-clr-button-shadow);
}

.label {
	font-size: 20px;
	font-weight: 600;
	font-family: var(--ui-font-accessible);
	margin-right: 12px;
}

.button__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	align-self: center;
	justify-self: center;

	border: 2px solid var(--ui-clr-button-border);
}

.button__container button {
	padding: 8px 16px;
	margin: 0;

	font-size: 20px;
	font-weight: 600;
	font-family: var(--ui-font-accessible);
	letter-spacing: 2px;
	color: var(--ui-clr-text);

	background: var(--ui-clr-text-dark-shade);
	border: none;
	outline: none;
}

.button__container > .button__active {
	background: var(--ui-clr-text-dark);
	color: var(--ui-clr-text-gold);
}

.text__container {
	display: flex;
	flex-direction: column;
}
