/** @format */

:root {
	--ui-clr-background: rgb(60, 25, 2);
	--ui-clr-gradient-background: radial-gradient(#3c1902, #281101);
	--ui-clr-text: rgba(255, 255, 255, 1);
	--ui-clr-text-shade: rgba(243, 221, 211, 1);
	--ui-clr-text-gold: rgba(249, 160, 63, 1);
	--ui-clr-text-shadow: rgba(53, 58, 71, 1);
	--ui-clr-text-dark: rgba(53, 58, 71, 1);
	--ui-clr-text-dark-shade: rgba(69, 78, 94, 1);

	/* Element clrs */

	--ui-clr-element-background: rgba(60, 25, 2, 1);
	--ui-clr-element-shadow: rgba(53, 58, 71, 1);
	--ui-clr-element-border: rgba(249, 160, 63, 1);
	--ui-clr-element-background-paper: rgba(255, 237, 190, 1);

	/* Button colours */

	--ui-clr-button-background: rgba(43, 25, 20, 1);
	--ui-clr-button-text: rgba(249, 160, 63, 1);
	--ui-clr-button-shadow: rgba(249, 160, 63, 1);
	--ui-clr-button-border: rgba(53, 58, 71, 1);

	/* Button values */
	--ui-offset-button-shadow: 4px;
	--ui-offset-button-border: 4px;

	/* Fonts */

	--ui-font-accessible: 'Raleway', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;

	--ui-font-fractur: 'UnifrakturMaguntia', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	--ui-font-handwritten: 'Kolker Brush', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* resets */

@media (prefers-reduced-motion) {
	* {
		transition: none;
		transform: none;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: var(--ui-clr-gradient-background);
	box-sizing: border-box;
}
