/** @format */

.type {
	font-family: var(--ui-font-fractur);
	font-size: 32px;
	color: var(--ui-clr-text);

	background: var(--ui-clr-element-shadow);

	min-width: 42px;
	min-height: 42px;
	width: 8vh;
	height: 8vh;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0px var(--ui-offset-button-shadow) 1px
			var(--ui-clr-button-border),
		0px calc(var(--ui-offset-button-shadow) * -1) 1px
			var(--ui-clr-button-border),
		var(--ui-offset-button-shadow) 0px 1px var(--ui-clr-button-border),
		calc(var(--ui-offset-button-shadow) * -1) 0px 1px
			var(--ui-clr-button-border);

	border: 2px solid var(--ui-clr-text-dark-shade);
}

.type:hover {
	color: var(--ui-clr-text-gold);
}
